.buttonCont{
    width: 100%;
    height: 87vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btn{
    width: 15%;
    min-width: 130px;
    height: 70px;
    background: white;
    color: black;
    font-family: 'Montserrat';
    border: 1px solid #DAE4F2;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.btnConnect{
    font-size: 16px;
    position: relative;
    left: 0px;
}

.metamaskLogo{
    width:50%;
    height: auto;
}
.adress{
    width: 30%;
    background: white;
    word-wrap:break-word;
    height: 30px;
    line-height: 28px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Montserrat';
    border: 1px solid #DAE4F2;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin: 12px;
}

